
body {
    background: url(./img/capa.png),
                url(./img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

header nav.navbar {
    background: rgba(0, 0, 0, 0.6);
    padding: 14px 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255, 0);
}

.divider {
    background: #fff;
    width: 1px;
    margin: 12px 15px;
}